.contentGeralHome{
    height: 100%;
    width: 100%;
    display: flex;
}

.contentLeftBarHome{
    width: 300px;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #dadada;
    overflow: scroll;
    overflow-x: hidden;
}

.contentMensageMembersHome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid #b6b6b6;
}

.contentBoxUsersHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}